body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

/* textarea {
    background-color: #F3F5FC;
} */

#text_area_result {
    position: absolute;
    width: 350px;
    height: 944px;
    left: 1000px;
    top: 40px;
    resize: none;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    font-family: "Verdana";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 131px;
    color: gray;
}

#boy_img {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
}

#no_message_found_img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;
}

#input_for_enter_text {
    resize: none;
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* or 48px */

    color: #0A3871;
    border: none;
    outline: none;
    overflow: auto;
    background-color: #F3F5FC;

}


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0A3871ed;
    opacity: 1;
    /* Firefox */
}

#btn-encrypt {
    /* Button */
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Auto layout */

    /* display: inline-block; */
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;
    color: #FFFFFF;
    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    /* margin-top: 885px;
    margin-left: 240px;
    margin-right: 872px; */
}

#btn_decrypt {
    /* Button */


    box-sizing: border-box;

    /* Auto layout */

    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    /* margin-top: 885px;
    margin-left: 562px;
    margin-right: 520px; */


}

#btn_main {
    position: absolute;
    /* bottom: 0; */

    top: 885px;
    left: 240px;
}

#img-logo {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 90px;
    height: 48px;
    left: 40px;
    top: 40px;
}